.DS_store
examples/simple_neural_network.cpp
/.vs/sqlite_orm/v15
/CMakeFiles
/examples/*/Debug/
/examples/CMakeFiles/
/examples/Debug/
/examples/*.cmake
/SqliteOrm
/tests/*/Debug/
/tests/CMakeFiles/
/tests/Debug/
/tests/*.cmake
*.vcxproj*
/*.cmake
/CMakeCache.txt
/sqlite_orm.sln
/DartConfiguration.tcl
/Win32/
/tests/third_party/sqlite
